<aside class="aside">
    <h3 class="title-aside">
        Filtros
        <span class="material-symbols-outlined">
            keyboard_double_arrow_down
        </span>
    </h3>
    <form class="form-filter">
        <label for="desde">Desde: $
            <input type="text" name="desde" placeholder="123..">
        </label>
        <label for="hasta">Hasta: $
            <input type="text" name="hasta" placeholder="123..">
        </label>
        <button type="button">Filtrar</button>
    </form>
</aside>