section {
    display: flex;
    justify-content: center;
}

.contenedor-componentes {
    display: flex;
}

.contenedor-filter-form {
    border-right: 3px solid rgb(214, 6, 186);
    width: 25%;
}

@media screen and (min-width: 340px) and (max-width: 800px) {
    .contenedor-componentes {
        flex-wrap: wrap;
    }
    .contenedor-filter-form {
    border-right: none;
    width: 100%;
    margin-bottom: 50px;
}
}